<dialog open>Alpha-Blog!</dialog>


<ul>
  <li>
    <font face="verdana">
    <%= link_to 'Home', root_path %>
  </li>
  <li>
    <%= link_to 'About', about_path %>
    </font>
  </li>
</ul>

<p><ins>_________________________________________________________________________</ins></p>

<div style="color:#4d4d4d">
<h1>This is <del>Home</del> <ins>About</ins> page of <i>Alpha-Blog!</i> </h1>
<p><ins>_________________________________________________________________________</ins></p>
</div>

<p><font face="verdana" color="green">Looking forward to start working with Bootstrap, it will be more fun ! :)</font></p>


