<div class= "center jumbotron">
  <div class="container">
    <h1>AlphaBlog</h1>
      <h4>Minimal setups</h4>
    <%= link_to "Sign up now", signup_path, class: "btn btn-info btn-lg btn-xlg" %>
  </div>
</div>