<dialog open>Alpha-Blog!</dialog>

<ul>
  <li>
    <font face="verdana">
    <%= link_to 'Home', root_path %>
  </li>
  <li>
    <%= link_to "Alpha-Blog", articles_path %> | <%= link_to 'About', about_path %>
    </font>
  </li>
</ul>

<p><ins>_________________________________________________________________________</ins></p>

<div style="color:#4d4d4d">
  <h1>This is <i>Alpha-Blog</i> homepage!</h1>
</div>

<p><ins>_________________________________________________________________________</ins></p>

<p><font face="verdana" color="green">Go to  <%= link_to 'About', about_path %> for more information !</font></p>

