$navbar-default-bg: #413f3f;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spaceing: -1px;
  font-weigth: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron{
  background-image: asset-url('minimal.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h4 {
  color: #272626;
  text-align: center;
  margin-bottom: 25px;
  margin-top: -10px;
  letter-spaceing: -1;
  font-weigth: bold;
}

.jumbotron h1 {
  color: #272626;
  text-align: center;
  margin-bottom: 25px;
  margin-top: -10px;
  letter-spaceing: -1;
  font-weigth: bold;
}

.btn-xlg {
  font-size: 1.7em;
  background-color: #343232;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weigth: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eeeeee;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

