$navbar-default-bg: #413f3f;

@import "bootstrap-sprockets";
@import "bootstrap";

*{font-family:Advent Pro;}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spaceing: -1px;
  font-weigth: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar {
  font-family: 'Advent Pro', sans-serif; 
}

.nav-space {
  margin-bottom: 60px;
}

.center {
  text-align: center;
}

.container-fluid {
  width: 100%;
  position: absolute;
  left: 0;
}

.jumbotron {
  background-image: asset-url('minimal.jpg');
  background-size: 100%;
  height: 550px;
}

.jumbo{
  align: center;
  background-size: 100%;
  height: 550px;
}

.jumbo h4 {
  color: #272626;
  text-align: center;
  margin-bottom: 25px;
  margin-top: -10px;
  letter-spaceing: -1;
  font-weigth: bold;
  font-family: 'Advent Pro', sans-serif;
}

.jumbo h1 {
  color: #272626;
  text-align: center;
  margin-bottom: 25px;
  margin-top: -10px;
  letter-spaceing: -1;
  font-weigth: bold;
  font-family: 'Advent Pro', sans-serif;
}

.btn-xlg {
  font-size: 1.7em;
  background-color: #5CC45C;
  border-color: #5CC45C;
  font-family: 'Advent Pro', sans-serif;
  border-radius:                    28px;
  -webkit-border-radius:            38px;
  -moz-border-radius:               0px;
}

.article-meta-deatils {
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.desno {
    float: right;
    width: 300px;
}

.glyphicon {
  font-size: 50px;
}

.ruby, .full-web, .ide {
  margin-top: 7px;
}

.oblak {
  margin-top: 70px;
}

.media {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  margin-top: 40px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weigth: bold;
  font-size: 1.5em;
  font-family: 'Advent Pro', sans-serif;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eeeeee;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}






.navbar-default {
  background-color: #3e434f;
  border-color: #1f2129;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #c4c6c7;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #c4c6c7;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #3e434f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #c4c6c7;
  background-color: #1f2129;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #3e434f;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #c4c6c7;
  background-color: #1f2129;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #c4c6c7;
  background-color: #1f2129;
}
.navbar-default .navbar-toggle {
  border-color: #1f2129;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1f2129;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #c4c6c7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c4c6c7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c4c6c7;
    background-color: #1f2129;
  }
}
































.version.index /* version checker */
{
	color: #0000F7;
	background-color: #2970BF;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 566.5000000000027px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u113
{
	z-index: 15;
	height: 516px;
	background: transparent asset-url('svrg7sr.jpg') no-repeat center center;
	background-size: cover;
}

#u113-bw
{
	z-index: 15;
	height: 516px;
}

#u140
{
	z-index: 16;
	min-height: 379.6000000000001px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.65)),color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.65) ,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0.65) ,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000, endColorstr=#00000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A5000000', endColorstr='#00000000', GradientType=0)";
	padding-bottom: 0px;
}

#u140_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 240px;
	padding-bottom: 21px;
}

#u143-4
{
	z-index: 38;
	width: 769px;
	min-height: 36px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #FFFFFF;
	font-family: Advent Pro, sans-serif;
	font-weight: 500;
	left: 196px;
	position: relative;
}

#u142-4
{
	z-index: 34;
	width: 270px;
	min-height: 68px;
	background-color: #F6F7F7;
	background-color: rgba(205,212,213,0.18);
	border-radius: 33px;
	line-height: 68px;
	font-size: 57px;
	text-align: center;
	color: #101010;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	left: 445px;
	margin-top: 15px;
	position: relative;
	-pie-background: rgba(205,212,213,0.18);
}

#u140-bw
{
	z-index: 16;
	min-height: 379.6000000000001px;
}

#u120
{
	z-index: 17;
	min-height: 46px;
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	padding-bottom: 16px;
	-pie-background: rgba(0,0,0,0.6);
}

#u120_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u121-4
{
	z-index: 18;
	width: 61px;
	min-height: 29px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #FFFFFF;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 291px;
}

#u121-4.MuseLinkActive
{
	border-style: solid;
	border-color: #82B440;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 61px;
	margin: 16px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u122-4
{
	z-index: 22;
	width: 122px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #FFFFFF;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 402px;
}

#u123-4
{
	z-index: 26;
	width: 132px;
	min-height: 29px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #FFFFFF;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 575px;
}

#u124-4
{
	z-index: 30;
	width: 112px;
	min-height: 29px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #FFFFFF;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 757px;
}

#u121-2,#u122-2,#u123-2,#u124-2
{
	padding-top: 3px;
}

#u120-bw
{
	z-index: 17;
	min-height: 46px;
}

#ppu158-4
{
	width: 0.01px;
	margin-left: -75px;
	margin-top: 44px;
}

#pu158-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u158-4
{
	z-index: 295;
	width: 440px;
	min-height: 114px;
	background-color: transparent;
	line-height: 38px;
	font-size: 32px;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u160-4
{
	z-index: 299;
	width: 406px;
	min-height: 243px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	margin-top: 23px;
	position: relative;
}

#pu159-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 662px;
}

#u159-4
{
	z-index: 307;
	width: 433px;
	min-height: 76px;
	background-color: transparent;
	line-height: 38px;
	font-size: 32px;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	margin-left: 1px;
	position: relative;
}

#u161-4
{
	z-index: 303;
	width: 433px;
	min-height: 112px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	margin-left: 1px;
	margin-top: 26px;
	position: relative;
}

#u162-4
{
	z-index: 311;
	width: 233px;
	min-height: 45px;
	border-width: 2px;
	border-style: solid;
	border-color: #82B440;
	background-color: transparent;
	line-height: 38px;
	font-size: 32px;
	text-align: center;
	color: #82B440;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	margin-top: 25px;
	position: relative;
}

#u162-4:hover
{
	background-color: #82B440;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 233px;
	margin: 25px 0px 0px;
}

#u162-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u176
{
	z-index: 315;
	min-height: 482px;
	background-color: #82B440;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 66px;
	padding-bottom: 67px;
}

#u177-4
{
	z-index: 316;
	width: 658px;
	min-height: 50px;
	background-color: transparent;
	line-height: 50px;
	font-size: 42px;
	color: #EEEEEE;
	text-transform: uppercase;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	left: 251px;
	position: relative;
}

#u178-4
{
	z-index: 320;
	width: 920px;
	min-height: 112px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	text-align: center;
	color: #EEEEEE;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	left: 120px;
	margin-top: 50px;
	position: relative;
}

#u181-4
{
	z-index: 324;
	width: 233px;
	min-height: 45px;
	border-width: 2px;
	border-style: solid;
	border-color: #EEEEEE;
	background-color: transparent;
	line-height: 38px;
	font-size: 32px;
	text-align: center;
	color: #EEEEEE;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	left: 461px;
	margin-top: 89px;
	position: relative;
}

#u181-4:hover
{
	background-color: #EEEEEE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 233px;
	margin: 89px 0px 0px;
}

#u181-4:hover p
{
	color: #82B440;
	visibility: inherit;
}

#u176-bw
{
	z-index: 315;
	min-height: 482px;
	margin-top: 109px;
}

#pu182
{
	width: 0.01px;
	margin-left: -76px;
	margin-top: 44px;
}

#u182
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u482-4
{
	z-index: 60;
	width: 260px;
	min-height: 48px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	text-align: center;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u204
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#u485-4
{
	z-index: 88;
	width: 260px;
	min-height: 48px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	text-align: center;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 445px;
}

#u216
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 773px;
}

#u487-4
{
	z-index: 92;
	width: 260px;
	min-height: 48px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	text-align: center;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 833px;
}

#u484-4
{
	z-index: 96;
	width: 260px;
	min-height: 53px;
	background-color: transparent;
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u486-4
{
	z-index: 124;
	width: 260px;
	min-height: 53px;
	background-color: transparent;
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#u488-4
{
	z-index: 128;
	width: 260px;
	min-height: 53px;
	background-color: transparent;
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 773px;
}

#pu262
{
	width: 0.01px;
	margin-left: -76px;
	margin-top: 96px;
}

#u262
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u491-4
{
	z-index: 64;
	width: 260px;
	min-height: 48px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	text-align: center;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u220
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#u493-4
{
	z-index: 80;
	width: 260px;
	min-height: 48px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	text-align: center;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 445px;
}

#u266
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 773px;
}

#u495-4
{
	z-index: 84;
	width: 260px;
	min-height: 48px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	text-align: center;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 833px;
}

#u492-4
{
	z-index: 100;
	width: 260px;
	min-height: 53px;
	background-color: transparent;
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u494-4
{
	z-index: 116;
	width: 260px;
	min-height: 53px;
	background-color: transparent;
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#u496-4
{
	z-index: 120;
	width: 260px;
	min-height: 53px;
	background-color: transparent;
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 773px;
}

#pu234
{
	width: 0.01px;
	margin-left: -76px;
	margin-top: 79px;
}

#u234
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u497-4
{
	z-index: 68;
	width: 260px;
	min-height: 48px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	text-align: center;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u232
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#u499-4
{
	z-index: 72;
	width: 260px;
	min-height: 48px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	text-align: center;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 433px;
}

#u236
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 774px;
	background: #FFFFFF asset-url("28-u236.png") no-repeat center center;
}

#u502-4
{
	z-index: 76;
	width: 260px;
	min-height: 48px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	text-align: center;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 838px;
}

#u482-2,#u485-2,#u487-2,#u491-2,#u493-2,#u495-2,#u497-2,#u499-2,#u502-2
{
	padding-top: 9px;
}

#pu484-4,#pu492-4,#pu498-4
{
	width: 0.01px;
	margin-left: -16px;
	margin-top: 10px;
}

#u498-4
{
	z-index: 104;
	width: 260px;
	min-height: 53px;
	background-color: transparent;
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u500-4
{
	z-index: 108;
	width: 260px;
	min-height: 53px;
	background-color: transparent;
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 373px;
}

#u503-4
{
	z-index: 112;
	width: 260px;
	min-height: 53px;
	background-color: transparent;
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	color: #111111;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 778px;
}

#u504
{
	z-index: 132;
	min-height: 837.8999999999996px;
	background-color: #82B440;
	padding-bottom: 0px;
}

#u504_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 69px;
	padding-bottom: 53px;
}

#u505
{
	z-index: 133;
	width: 958px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 102px;
	position: relative;
}

#u506
{
	z-index: 134;
	width: 170px;
	-pie-box-shadow: 1px 1px 2px #BFBFBF;
	box-shadow: 1px 1px 2px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #F8F8F8;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	padding: 26px 31px 22px 28px;
}

#u509
{
	z-index: 164;
	width: 125px;
	height: 125px;
	border-color: #F0F0F0;
	border-radius: 100px;
	margin-left: -6px;
	position: relative;
	background: #FFFFFF asset-url("photodune-381355-funny-face-xs-ieu509-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) asset-url("photodune-381355-funny-face-xs.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: contain;
}

#u508-4
{
	z-index: 168;
	width: 164px;
	min-height: 19px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 27px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
	margin-left: -25px;
}

#u561-4
{
	z-index: 148;
	width: 164px;
	min-height: 39px;
	background-color: transparent;
	color: #AAAAAA;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 11px;
	position: relative;
	margin-left: -23px;
}

#u538
{
	z-index: 135;
	width: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 20px;
	position: relative;
}

#u546
{
	z-index: 136;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u544
{
	z-index: 139;
	width: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#u541
{
	z-index: 137;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u539
{
	z-index: 141;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u547
{
	z-index: 138;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u542
{
	z-index: 143;
	width: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
}

#u550
{
	z-index: 145;
	width: 170px;
	-pie-box-shadow: 1px 1px 2px #BFBFBF;
	box-shadow: 1px 1px 2px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #F8F8F8;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	left: 244px;
	padding: 27px 30px 22.30000000000109px 29px;
}

#u521
{
	z-index: 165;
	width: 125px;
	height: 125px;
	border-color: #F0F0F0;
	border-radius: 100px;
	margin-left: -6px;
	position: relative;
	background: #FFFFFF asset-url("photodune-2186653-man-face-xs-ieu521-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) asset-url("photodune-2186653-man-face-xs.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u549-4
{
	z-index: 172;
	width: 164px;
	min-height: 19px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 27px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
	margin-left: -25px;
}

#u537-4
{
	z-index: 152;
	width: 164px;
	min-height: 42px;
	background-color: transparent;
	color: #AAAAAA;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	position: relative;
	margin-left: -23px;
}

#u551
{
	z-index: 184;
	width: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 20px;
	position: relative;
}

#u556
{
	z-index: 185;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u553
{
	z-index: 188;
	width: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#u555
{
	z-index: 186;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u557
{
	z-index: 190;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u552
{
	z-index: 187;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u559
{
	z-index: 192;
	width: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
}

#u520
{
	z-index: 146;
	width: 170px;
	-pie-box-shadow: 1px 1px 2px #BFBFBF;
	box-shadow: 1px 1px 2px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #F8F8F8;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	left: 490px;
	padding: 27px 30px 22.30000000000109px 29px;
}

#u507
{
	z-index: 166;
	width: 125px;
	height: 125px;
	border-color: #F0F0F0;
	border-radius: 100px;
	margin-left: -6px;
	position: relative;
	background: #FFFFFF asset-url("photodune-3886296-wow-face-xs-ieu507-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) asset-url("photodune-3886296-wow-face-xs.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u535-4
{
	z-index: 176;
	width: 164px;
	min-height: 19px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 27px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
	margin-left: -25px;
}

#u522-4
{
	z-index: 156;
	width: 164px;
	min-height: 42px;
	background-color: transparent;
	color: #AAAAAA;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	position: relative;
	margin-left: -23px;
}

#u523
{
	z-index: 194;
	width: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 20px;
	position: relative;
}

#u525
{
	z-index: 195;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u528
{
	z-index: 198;
	width: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#u524
{
	z-index: 196;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u526
{
	z-index: 200;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u532
{
	z-index: 197;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u530
{
	z-index: 202;
	width: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
}

#u533
{
	z-index: 147;
	width: 170px;
	-pie-box-shadow: 1px 1px 2px #BFBFBF;
	box-shadow: 1px 1px 2px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #F8F8F8;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	left: 735px;
	padding: 26px 30px 22px 29px;
}

#u548
{
	z-index: 167;
	width: 125px;
	height: 125px;
	border-color: #F0F0F0;
	border-radius: 100px;
	margin-left: -6px;
	position: relative;
	background: #FFFFFF asset-url("photodune-3046522-man-face-xs-ieu548-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) asset-url("photodune-3046522-man-face-xs.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u534-4
{
	z-index: 180;
	width: 164px;
	min-height: 19px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 27px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 27px;
	position: relative;
	margin-left: -25px;
}

#u536-4
{
	z-index: 160;
	width: 164px;
	min-height: 42px;
	background-color: transparent;
	color: #AAAAAA;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	position: relative;
	margin-left: -23px;
}

#u510
{
	z-index: 204;
	width: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 20px;
	position: relative;
}

#u519
{
	z-index: 205;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u511
{
	z-index: 208;
	width: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#u515
{
	z-index: 206;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u513
{
	z-index: 210;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u518
{
	z-index: 207;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u516
{
	z-index: 212;
	width: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
}

#u820
{
	z-index: 214;
	width: 958px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 102px;
	margin-top: 66px;
	position: relative;
}

#u873
{
	z-index: 215;
	width: 170px;
	-pie-box-shadow: 1px 1px 2px #BFBFBF;
	box-shadow: 1px 1px 2px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #F8F8F8;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	padding: 26px 31px 22px 28px;
}

#u833
{
	z-index: 245;
	width: 125px;
	height: 125px;
	border-color: #F0F0F0;
	border-radius: 100px;
	margin-left: -6px;
	position: relative;
	background: #FFFFFF asset-url("photodune-381355-funny-face-xs-ieu509-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) asset-url("photodune-381355-funny-face-xs.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: contain;
}

#u857-4
{
	z-index: 249;
	width: 164px;
	min-height: 19px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 27px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
	margin-left: -25px;
}

#u876-4
{
	z-index: 229;
	width: 164px;
	min-height: 39px;
	background-color: transparent;
	color: #AAAAAA;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 11px;
	position: relative;
	margin-left: -23px;
}

#u859
{
	z-index: 216;
	width: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 20px;
	position: relative;
	margin-left: 15px;
}

#u860
{
	z-index: 217;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u864
{
	z-index: 220;
	width: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#u863
{
	z-index: 218;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u861
{
	z-index: 222;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u866
{
	z-index: 219;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u867
{
	z-index: 224;
	width: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
}

#u858
{
	z-index: 226;
	width: 170px;
	-pie-box-shadow: 1px 1px 2px #BFBFBF;
	box-shadow: 1px 1px 2px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #F8F8F8;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	left: 244px;
	padding: 27px 30px 22.300000000000637px 29px;
}

#u844
{
	z-index: 246;
	width: 125px;
	height: 125px;
	border-color: #F0F0F0;
	border-radius: 100px;
	margin-left: -6px;
	position: relative;
	background: #FFFFFF asset-url("photodune-2186653-man-face-xs-ieu521-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) asset-url("photodune-2186653-man-face-xs.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u874-4
{
	z-index: 253;
	width: 164px;
	min-height: 19px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 27px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
	margin-left: -25px;
}

#u822-4
{
	z-index: 233;
	width: 164px;
	min-height: 42px;
	background-color: transparent;
	color: #AAAAAA;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	position: relative;
	margin-left: -23px;
}

#u846
{
	z-index: 265;
	width: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 20px;
	position: relative;
}

#u854
{
	z-index: 266;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u850
{
	z-index: 269;
	width: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#u855
{
	z-index: 267;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u852
{
	z-index: 271;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u849
{
	z-index: 268;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u847
{
	z-index: 273;
	width: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
}

#u845
{
	z-index: 227;
	width: 170px;
	-pie-box-shadow: 1px 1px 2px #BFBFBF;
	box-shadow: 1px 1px 2px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #F8F8F8;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	left: 490px;
	padding: 27px 30px 22.299999999999727px 29px;
}

#u871
{
	z-index: 247;
	width: 125px;
	height: 125px;
	border-color: #F0F0F0;
	border-radius: 100px;
	margin-left: -6px;
	position: relative;
	background: #FFFFFF asset-url("photodune-3886296-wow-face-xs-ieu507-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) asset-url("photodune-3886296-wow-face-xs.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u869-4
{
	z-index: 257;
	width: 164px;
	min-height: 19px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 27px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
	margin-left: -25px;
}

#u870-4
{
	z-index: 237;
	width: 164px;
	min-height: 42px;
	background-color: transparent;
	color: #AAAAAA;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	position: relative;
	margin-left: -23px;
}

#u823
{
	z-index: 275;
	width: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 20px;
	position: relative;
}

#u827
{
	z-index: 276;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u829
{
	z-index: 279;
	width: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#u824
{
	z-index: 277;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u831
{
	z-index: 281;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u828
{
	z-index: 278;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u825
{
	z-index: 283;
	width: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
}

#u872
{
	z-index: 228;
	width: 170px;
	-pie-box-shadow: 1px 1px 2px #BFBFBF;
	box-shadow: 1px 1px 2px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #F8F8F8;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	left: 735px;
	padding: 26px 30px 22px 29px;
}

#u506:hover,#u550:hover,#u520:hover,#u533:hover,#u873:hover,#u858:hover,#u845:hover,#u872:hover
{
	width: 170px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u856
{
	z-index: 248;
	width: 125px;
	height: 125px;
	border-color: #F0F0F0;
	border-radius: 100px;
	margin-left: -6px;
	position: relative;
	background: #FFFFFF asset-url("photodune-3046522-man-face-xs-ieu548-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) asset-url("photodune-3046522-man-face-xs.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u821-4
{
	z-index: 261;
	width: 164px;
	min-height: 19px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 27px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 27px;
	position: relative;
	margin-left: -25px;
}

#u875-4
{
	z-index: 241;
	width: 164px;
	min-height: 42px;
	background-color: transparent;
	color: #AAAAAA;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	position: relative;
	margin-left: -23px;
}

#u834
{
	z-index: 285;
	width: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 20px;
	position: relative;
}

#u836
{
	z-index: 286;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u842
{
	z-index: 289;
	width: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#u841
{
	z-index: 287;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u837
{
	z-index: 291;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u835
{
	z-index: 288;
	width: 25px;
	border-color: #000000;
	background-color: #81D9CD;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u546:hover,#u541:hover,#u547:hover,#u556:hover,#u555:hover,#u552:hover,#u525:hover,#u524:hover,#u532:hover,#u519:hover,#u515:hover,#u518:hover,#u860:hover,#u863:hover,#u866:hover,#u854:hover,#u855:hover,#u849:hover,#u827:hover,#u824:hover,#u828:hover,#u836:hover,#u841:hover,#u835:hover
{
	background-color: #C7B299;
	width: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u839
{
	z-index: 293;
	width: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
}

#u504-bw
{
	z-index: 132;
	min-height: 837.8999999999996px;
	margin-top: 68px;
}

#pu113,#pu84
{
	width: 0.01px;
	margin-left: -100px;
}

#u84_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 23px;
	padding-bottom: 25px;
}

#u85-4
{
	z-index: 3;
	width: 920px;
	min-height: 61px;
	left: 120px;
}

#u93-4
{
	z-index: 7;
	width: 261px;
	min-height: 17px;
	left: 407px;
	margin-top: 26px;
}

#u84,#u84-bw
{
	z-index: 2;
	min-height: 153px;
}

#u94-4
{
	z-index: 11;
	width: 86px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 111px;
	left: 827px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

#u84
{
	background-color: #222222;
}

#u84_align_to_page
{
	position: relative;
}

#u85-4
{
	border-style: solid;
	border-color: #323232;
	background-color: transparent;
	line-height: 40px;
	font-size: 33px;
	text-align: center;
	color: #FFFFFF;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
	border-width: 0px 0px 1px;
}

#u93-4,#u94-4
{
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	position: relative;
}

html
{
	min-height: 100%;
	min-width: 100%;
	-ms-text-size-adjust: none;
}

body,div,dl,dt,dd,ul,ol,li,nav,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a
{
	margin: 0;
	padding: 0;
	border-width: 0;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img
{
	border: 0;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup
{
	font-style: inherit;
	font-weight: inherit;
}

del,ins
{
	text-decoration: none;
}

li
{
	list-style: none;
}

caption,th
{
	text-align: left;
}

h1,h2,h3,h4,h5,h6
{
	font-size: 100%;
	font-weight: inherit;
}

input,button,textarea,select,optgroup,option
{
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

body
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 17px;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;/* kerning, primarily */
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	body { text-rendering:auto; }
}

a
{
	color: inherit;
	text-decoration: inherit;
}

a:link
{
	color: #0000FF;
	text-decoration: underline;
}

a:visited
{
	color: #800080;
	text-decoration: underline;
}

a:hover
{
	color: #0000FF;
	text-decoration: underline;
}

a:active
{
	color: #EE0000;
	text-decoration: underline;
}

a.nontext /* used to override default properties of 'a' tag */
{
	color: black;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}

.normal_text
{
	color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
	vertical-align: 0px;
	padding: 0px;
}

.bodytext
{
	color: #777777;
	font-family: source-sans-pro, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	padding: 0px;
}

.list0 li:before
{
	position: absolute;
	right: 100%;
	letter-spacing: 0px;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

.rtl-list li:before
{
	right: auto;
	left: 100%;
}

.nls-None > li:before,.nls-None .list3 > li:before,.nls-None .list6 > li:before
{
	margin-right: 6px;
	content: '•';
}

.nls-None .list1 > li:before,.nls-None .list4 > li:before,.nls-None .list7 > li:before
{
	margin-right: 6px;
	content: '○';
}

.nls-None,.nls-None .list1,.nls-None .list2,.nls-None .list3,.nls-None .list4,.nls-None .list5,.nls-None .list6,.nls-None .list7,.nls-None .list8
{
	padding-left: 34px;
}

.nls-None.rtl-list,.nls-None .list1.rtl-list,.nls-None .list2.rtl-list,.nls-None .list3.rtl-list,.nls-None .list4.rtl-list,.nls-None .list5.rtl-list,.nls-None .list6.rtl-list,.nls-None .list7.rtl-list,.nls-None .list8.rtl-list
{
	padding-left: 0px;
	padding-right: 34px;
}

.nls-None .list2 > li:before,.nls-None .list5 > li:before,.nls-None .list8 > li:before
{
	margin-right: 6px;
	content: '-';
}

.nls-None.rtl-list > li:before,.nls-None .list1.rtl-list > li:before,.nls-None .list2.rtl-list > li:before,.nls-None .list3.rtl-list > li:before,.nls-None .list4.rtl-list > li:before,.nls-None .list5.rtl-list > li:before,.nls-None .list6.rtl-list > li:before,.nls-None .list7.rtl-list > li:before,.nls-None .list8.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 6px;
}

.TabbedPanelsTab
{
	white-space: nowrap;
}

.MenuBar  .MenuBarView,.MenuBar  .SubMenuView /* Resets for ul and li in menus */
{
	display: block;
	list-style: none;
}

.MenuBar .SubMenu
{
	display: none;
	position: absolute;
}

.NoWrap
{
	white-space: nowrap;
	word-wrap: normal;
}

.rootelem /* the root of the artwork tree */
{
	margin-left: auto;
	margin-right: auto;
}

.colelem /* a child element of a column */
{
	display: inline;
	float: left;
	clear: both;
}

.colelem100 /* a child element of a column that is 100% width */
{
	clear: both;
}

.grpelem /* a child element of a group */
{
	display: inline;
	float: left;
}

.clearfix:after /* force a container to fit around floated items */
{
	content: "\0020";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

*:first-child+html .clearfix /* IE7 */
{
	zoom: 1;
}

.clip_frame /* used to clip the contents as in the case of an image frame */
{
	overflow: hidden;
}

.inclusion_context /* context for positioning a group of elements that share the same height */
{
	display: table;
	table-layout: fixed;
	width: 0.01px;
}

.inclelem /* element of an inclusion context */
{
	display: table-cell;
	vertical-align: top;
}

.f3s_mid /* 3-slice frame, middle slice */
{
	background-repeat: repeat;
}

.f3s_top,.f3s_bot /* 3-slice frame, top slice */
{
	background-repeat: no-repeat;
}

.f9s_top_left,.f9s_bot_left /* 9-slice frame, left corner slice */
{
	background-repeat: no-repeat;
	background-position: left;
}

.f9s_top_right,.f9s_bot_right /* 9-slice frame, right corner slice */
{
	background-repeat: no-repeat;
	background-position: right;
}

.f9s_top_mid,.f9s_bot_mid /* 9-slice frame, top/bottom horizontal slice */
{
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

.f9s_mid_left /* 9-slice frame, left vertical slice */
{
	background-repeat: repeat-y;
	background-position: left;
}

.f9s_mid_right /* 9-slice frame, right vertical slice */
{
	background-repeat: repeat-y;
	background-position: right;
}

.f9s_center /* 9-slice frame, center slice */
{
	background-repeat: repeat;
	background-position: 0px 0px;
}

.popup_anchor /* anchors an abspos popup */
{
	position: relative;
	width: 0px;
	height: 0px;
}

.popup_element
{
	z-index: 100000;
}

.svg
{
	display: block;
	vertical-align: top;
}

span.wrap /* used to force wrap after floated array when nested inside a paragraph */
{
	content: '';
	clear: left;
	display: block;
}

span.actAsInlineDiv /* used to simulate a DIV with inline display when already nested inside a paragraph */
{
	display: inline-block;
}

.position_content,.excludeFromNormalFlow /* used when child content is larger than parent */
{
	float: left;
}

.preload_images /* used to preload images used in non-default states */
{
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}

preload /* used to specifiy the dimension of preload item */
{
	height: 1px;
	width: 1px;
}

.animateStates
{
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

input:focus,textarea:focus /* remove default focussed input styling */
{
	outline: none;
}

textarea
{
	resize: none;
	overflow: auto;
}

.fld-prompt /* form placeholders cursor behavior */
{
	pointer-events: none;
}

.wrapped-input /* form inputs & placeholders let div styling show thru */
{
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	border: none;
}

.submit-btn /* form submit buttons on top of sibling elements */
{
	z-index: 50000;
	cursor: pointer;
}

.anchor_item /* used to specify anchor properties */
{
	width: 22px;
	height: 18px;
}

.MenuBar .SubMenuVisible,.MenuBarVertical .SubMenuVisible,.MenuBar .SubMenu .SubMenuVisible,.popup_element.Active,span.actAsPara,.actAsDiv,a.nonblock.nontext,img.block
{
	display: block;
}

.ose_ei
{
	visibility: hidden;
	z-index: 0;
}

.widget_invisible,.js .invi,.js .mse_pre_init,.js .an_invi /* used to hide the widget before loaded */
{
	visibility: hidden;
}

.no_vert_scroll
{
	overflow-y: hidden;
}

.always_vert_scroll
{
	overflow-y: scroll;
}

.always_horz_scroll
{
	overflow-x: scroll;
}

.popup_element.Inactive,.js .disn,.hidden
{
	display: none;
}

.fullscreen
{
	overflow: hidden;
	left: 0px;
	top: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.fullwidth
{
	position: absolute;
}

.borderbox
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.scroll_wrapper
{
	position: absolute;
	overflow: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.browser_width > *
{
	position: absolute;
	left: 0px;
	right: 0px;
}

.list0 li,.MenuBar .MenuItemContainer,.SlideShowContentPanel .fullscreen img
{
	position: relative;
}

.accordion_wrapper
{
	display: inline;
	float: left;
	width: 0px;
}

.fld-checkbox input[type=checkbox],.fld-radiobutton input[type=radio] /* Hide native checkbox */
{
	position: absolute;
	overflow: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.fld-checkbox input[type=checkbox] + label,.fld-radiobutton input[type=radio] + label
{
	display: inline-block;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	width: 100%;
	height: 100%;
}

.pointer_cursor,.fld-recaptcha-mode,.fld-recaptcha-refresh,.fld-recaptcha-help
{
	cursor: pointer;
}

p,h1,h2,h3,h4,h5,h6,ol,ul,span.actAsPara /* disable Android font boosting */
{
	max-height: 1000000px;
}

.superscript
{
	vertical-align: super;
	font-size: 66%;
	line-height: 0;
}

.subscript
{
	vertical-align: sub;
	font-size: 66%;
	line-height: 0;
}

.wp-slideshow-clip,.SlideShowWidget /* disable pointer events on slide shows */
{
	-ms-touch-action: none;
	touch-action: none;
}

.bodytext
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u85-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u121-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u143-4,#u142-4,#u158-4,#u159-4,#u162-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u177-4,#u181-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u482-4,#u485-4,#u487-4,#u491-4,#u493-4,#u495-4,#u497-4,#u499-4,#u502-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u122-4,#u123-4,#u124-4,#u160-4,#u161-4,#u178-4,#u484-4,#u486-4,#u488-4,#u492-4,#u494-4,#u496-4,#u498-4,#u500-4,#u503-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u508-4,#u549-4,#u535-4,#u534-4,#u857-4,#u874-4,#u869-4,#u821-4
{
	font-family: open-sans-n4, sans-serif;
}

#u561-4,#u537-4,#u522-4,#u536-4,#u876-4,#u822-4,#u870-4,#u875-4
{
	font-family: open-sans-n3, sans-serif;
}

#u84
{
	background-color: #222222;
}

#u84_align_to_page
{
	position: relative;
}

#u85-4
{
	border-style: solid;
	border-color: #323232;
	background-color: transparent;
	line-height: 40px;
	font-size: 33px;
	text-align: center;
	color: #FFFFFF;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
	border-width: 0px 0px 1px;
}

#u93-4,#u94-4
{
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	position: relative;
}

.bodytext
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u85-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u121-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u143-4,#u142-4,#u158-4,#u159-4,#u162-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u177-4,#u181-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u482-4,#u485-4,#u487-4,#u491-4,#u493-4,#u495-4,#u497-4,#u499-4,#u502-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u122-4,#u123-4,#u124-4,#u160-4,#u161-4,#u178-4,#u484-4,#u486-4,#u488-4,#u492-4,#u494-4,#u496-4,#u498-4,#u500-4,#u503-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u508-4,#u549-4,#u535-4,#u534-4,#u857-4,#u874-4,#u869-4,#u821-4
{
	font-family: open-sans-n4, sans-serif;
}

#u561-4,#u537-4,#u522-4,#u536-4,#u876-4,#u822-4,#u870-4,#u875-4
{
	font-family: open-sans-n3, sans-serif;
}

