<div class="verticalspacer"></div>
    <div class="clearfix colelem" id="pu84"><!-- group -->
     <div class="browser_width grpelem" id="u84-bw">
      <div id="u84"><!-- column -->
       <div class="clearfix" id="u84_align_to_page">
        <div class="clearfix colelem" id="u85-4"><!-- content -->
         <p>CONNECT WITH US</p>
        </div>
        <div class="clearfix colelem" id="u93-4"><!-- content -->
         <p>Developer and designer Risteski Petar</p>
        </div>
       </div>
      </div>
     </div>
     <a class="nonblock nontext clearfix grpelem" id="u94-4" href="https://github.com/bobpetar/alpha-blog" target="_blank"><!-- content --><p>@codaway</p></a>
    </div>